* {
  font-weight: lighter;
}
.page-header{
  text-align: center;
  background-color: #3F51B5;

}
.page-header h1 {
  background-color: #3F51B5;
  height: 130px;
  color: white;
  margin-top: 0px;
  font-weight: lighter;

}
a {
  text-decoration: none;
}

/*.col-md-12 {
  background-color: #7986CB;
  height: 200px;
}*/
