<!-- Latest compiled and minified CSS -->

</div>
  <a href="/skills" class="list-group-item">
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
      view skills
    </button>
  </a>

  <a href="/skills/new" class="list-group-item">
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
      Add a New Skill
    </button>
  </a>
