<!-- Latest compiled and minified CSS -->
<div class="row" id = "center-nav">

  <a href="/skills" class="list-group-item">
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" value = 'View Skills' id = "test">
      view skills
    </button>
  </a>

  <a href="/skills/new" class="list-group-item">
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
      Add a New Skill
    </button>
  </a>
</div>
