
    <h3>Enter a new skill:</h3>
    <form action ="/skills" method ="post">

      <div class="input-group input-group-lg">
        <span class="input-group-addon" id="sizing-addon1"></span>
        <input type="text" class="form-control" id  = "skill-title" name ="skill[title]" placeholder="Your new Skill" aria-describedby="basic-addon1">
      </div>

      <div class="input-group input-group-lg">
        <span class="input-group-addon" id="basic-addon1"></span>
        <input type="text" class="form-control" id = "skill-description"name="skill[description]" placeholder = "Describe your skill" aria-describedby="basic-addon1">
      </div>

      <input type='submit' value = "Submit">

    </form>
